Repository operskoj2c/iree, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MaheshRavishankar, @hanhanW, @ThomasRaoux, @antiagainst

Added Getting Started guide for TFLite (#8136)
  docs/website/docs/blog/2021-07-19-tflite-tosa.md
  docs/website/docs/deployment-configurations/cpu-dylib.md
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
  docs/website/docs/getting-started/index.md
  docs/website/docs/getting-started/jax.md
  docs/website/docs/getting-started/tensorflow.md
  docs/website/docs/getting-started/tflite-cmd.md
  docs/website/docs/getting-started/tflite-python.md
  docs/website/docs/getting-started/tflite.md
  docs/website/docs/index.md
  docs/website/docs/ml-frameworks/index.md
  docs/website/docs/ml-frameworks/tensorflow-lite.md
  docs/website/mkdocs.yml
Owners: none

Update profiling_with_tracy.md (#8233)
  docs/developers/developing_iree/profiling_with_tracy.md
Owners: none

Re-enable CUDA compiler and runtime build. (#8235)
  CMakeLists.txt
  build_tools/cmake/iree_c_embed_data.cmake
  iree/compiler/Dialect/HAL/Target/CUDA/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/hal/cuda/BUILD
  iree/hal/cuda/CMakeLists.txt
  iree/hal/cuda/registration/BUILD
  iree/hal/cuda/registration/CMakeLists.txt
  iree/hal/drivers/CMakeLists.txt
Owners: none

Remove shared memory handling from SPIRV backend (#8238)
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/SPIRVCopyToWorkgroupMemory.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/vectorize_copy_to_workgroup_memory.mlir
Owners: @MaheshRavishankar, @antiagainst

Bump existing Sandbox passes to @ c219306 (#8239)
  iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  iree/compiler/Codegen/Sandbox/Passes.h
  iree/compiler/Codegen/Sandbox/Passes.td
Owners: @MaheshRavishankar, @hanhanW

Fetch easeljs library and use demo server instead of http.server.
  experimental/sample_web_static/build_static_emscripten_demo.sh
  experimental/sample_web_static/index.html
Owners: none

Move demo web server script over to scripts/local_web_server.
  experimental/sample_web_static/build_static_emscripten_demo.sh
  scripts/local_web_server.py
Owners: none

Use DWARF for debugging instead of source maps.
  experimental/sample_web_static/CMakeLists.txt
  experimental/sample_web_static/build_static_emscripten_demo.sh
Owners: none

Re-enable CUDA tests. (#8237)
  build_tools/bazel/iree_check_test.bzl
  build_tools/cmake/clean_build.sh
  build_tools/cmake/rebuild.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  iree/compiler/Dialect/HAL/Target/CUDA/test/BUILD
  iree/compiler/Dialect/HAL/Target/CUDA/test/CMakeLists.txt
  iree/hal/cuda/cts/CMakeLists.txt
  iree/samples/simple_embedding/BUILD
  iree/test/e2e/cuda_specific/BUILD
  iree/test/e2e/cuda_specific/CMakeLists.txt
  iree/test/e2e/linalg_ext_ops/BUILD
  iree/test/e2e/linalg_ext_ops/CMakeLists.txt
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/tensor_ops/BUILD
  iree/test/e2e/tensor_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/tools/CMakeLists.txt
Owners: none

Enable CUDA release builds. (#8241)
  .github/workflows/build_package.yml
  build_tools/github_actions/build_dist.py
  llvm-external-projects/iree-compiler-api/setup.py
Owners: none

Bump CMake version to 3.22.2 to build runtime wheels. (#8243)
  .github/workflows/build_package.yml
  llvm-external-projects/iree-compiler-api/pyproject.toml
Owners: none

Fixup Colab link subdomain in tflite blog post.
  docs/website/docs/blog/2021-07-19-tflite-tosa.md
Owners: none

Refresh CUDA/ROCm docs with new option defaults. (#8246)
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
Owners: none

Mirror more sandbox passes to IREE. (#8249)
  iree/compiler/Codegen/Sandbox/BUILD
  iree/compiler/Codegen/Sandbox/CMakeLists.txt
  iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  iree/compiler/Codegen/Sandbox/Passes.h
  iree/compiler/Codegen/Sandbox/Passes.td
  iree/compiler/Codegen/Sandbox/test/BUILD
  iree/compiler/Codegen/Sandbox/test/CMakeLists.txt
  iree/compiler/Codegen/Sandbox/test/outline_one_parent_loop.mlir
  iree/compiler/Codegen/Sandbox/test/unroll_one_vector_op.mlir
Owners: @MaheshRavishankar, @hanhanW

Remove accidental device->host transfer on function dispatch. (#8251)
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/function_test.py
Owners: none

Further escalate the CUDA detection arms race. (#8252)
  CMakeLists.txt
Owners: none

Add cuda SDK to Nvidia Docker image and re-enable cuda tests (#8247)
  .github/workflows/android_tflite_oneshot_build.yml
  CMakeLists.txt
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/android/Dockerfile
  build_tools/docker/base/Dockerfile
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/frontends-nvidia/Dockerfile
  build_tools/docker/frontends-swiftshader/Dockerfile
  build_tools/docker/frontends/Dockerfile
  build_tools/docker/gradle-android/Dockerfile
  build_tools/docker/nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/riscv/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Owners: none

Drop CMake version used in CI back to minimum supported version (#8258)
  .github/workflows/android_tflite_oneshot_build.yml
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/android/Dockerfile
  build_tools/docker/base/Dockerfile
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/frontends-nvidia/Dockerfile
  build_tools/docker/frontends-swiftshader/Dockerfile
  build_tools/docker/frontends/Dockerfile
  build_tools/docker/gradle-android/Dockerfile
  build_tools/docker/nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/riscv/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Owners: none

Move x86 GEMM codegeneration pipeline to use upstream bufferization. (#8259)
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
Owners: @MaheshRavishankar, @hanhanW

Generalize the asm kernel pattern. (#8248)
  iree/compiler/Codegen/LLVMCPU/VectorContractCustomKernels.cpp
  iree/compiler/Utils/CustomKernelsTargetInfo.h
Owners: @MaheshRavishankar, @hanhanW

Add python-only and native flag parsing to the Python API. (#8261)
  bindings/python/iree/runtime/CMakeLists.txt
  bindings/python/iree/runtime/__init__.py
  bindings/python/iree/runtime/flags.py
  bindings/python/iree/runtime/flags_test.py
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/initialize_module.cc
Owners: none

Disable C++ allocation tracing for Python bindings. (#8264)
  bindings/python/iree/runtime/CMakeLists.txt
  build_tools/cmake/iree_python.cmake
  iree/base/tracing.cc
  iree/base/tracing.h
Owners: none

[CUDA] Represent shared memory as alloc (#8262)
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
Owners: @MaheshRavishankar, @ThomasRaoux

Move the TFLite test_util.py local to the test directory. (#8265)
  integrations/tensorflow/test/python/iree_tfl_tests/mobilenet_v1_test.py
  integrations/tensorflow/test/python/iree_tfl_tests/posenet_i8_test.py
  integrations/tensorflow/test/python/iree_tfl_tests/test_util.py
Owners: none

Refactor web sample into a Promise-based API using a Web Worker. (#8257)
  experimental/sample_web_static/build_static_emscripten_demo.sh
  experimental/sample_web_static/index.html
  experimental/sample_web_static/iree_api.js
  experimental/sample_web_static/iree_worker.js
Owners: none

Avoid null dereference for missing translation (#8244)
  iree/tools/iree_translate_lib.cc
Owners: none

Fix typos in llvm_version_bump.md (#8273)
  docs/developers/developing_iree/llvm_version_bump.md
Owners: none

Add support for dumping statistics in JSON format (#8276)
  iree/compiler/Dialect/Stream/Transforms/DumpStatistics.cpp
  iree/compiler/Dialect/Stream/Transforms/PassDetail.h
  iree/compiler/Translation/IREEVM.cpp
  iree/compiler/Translation/IREEVM.h
Owners: none

[spirv] NFC: remove unused code in Utils.cpp (#8277)
  iree/compiler/Codegen/SPIRV/Utils.cpp
  iree/compiler/Codegen/SPIRV/Utils.h
Owners: @MaheshRavishankar, @antiagainst

[EmitC] Save refs into temporaries before returning (#8270)
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
Owners: none

Adding support for timeouts on iree_notification_t. (#8278)
  iree/base/internal/synchronization.c
  iree/base/internal/synchronization.h
  iree/base/internal/synchronization_test.cc
  iree/base/internal/threading_pthreads.c
  iree/base/internal/threading_test.cc
  iree/base/time.c
  iree/hal/local/sync_semaphore.c
  iree/task/poller.c
  iree/task/scope.c
  iree/task/worker.c
Owners: none

Fix pydm tests for std->cf rename. (#8279)
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/python/CMakeLists.txt
  llvm-external-projects/iree-dialects/test/iree_pydm/optimize/local_propagate_types.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/optimize/variables_to_ssa.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/to_iree/structural.mlir
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/flow_control.py
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/CMakeLists.txt
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/iree-dialects-opt.cpp
Owners: none

Revert "Adding support for timeouts on iree_notification_t." (#8280)
  iree/base/internal/synchronization.c
  iree/base/internal/synchronization.h
  iree/base/internal/synchronization_test.cc
  iree/base/internal/threading_pthreads.c
  iree/base/internal/threading_test.cc
  iree/base/time.c
  iree/hal/local/sync_semaphore.c
  iree/task/poller.c
  iree/task/scope.c
  iree/task/worker.c
Owners: none

Request exit on task worker shutdown. It's recommended that requests happen in a batch prior to the join but this prevents the footgun of forgetting that and then hanging.
  iree/task/poller.c
  iree/task/worker.c
Owners: none

Adding tracing to task tests so it's easier to identify the test case.
  iree/task/task_test_barrier.cc
  iree/task/task_test_call.cc
  iree/task/task_test_dispatch.cc
  iree/task/task_test_fence.cc
  iree/task/task_test_nop.cc
  iree/task/task_test_wait.cc
Owners: none

Adding support for timeouts on iree_notification_t. (#8278)
  iree/base/internal/synchronization.c
  iree/base/internal/synchronization.h
  iree/base/internal/synchronization_test.cc
  iree/base/internal/threading_pthreads.c
  iree/base/internal/threading_test.cc
  iree/base/time.c
  iree/hal/local/sync_semaphore.c
  iree/task/poller.c
  iree/task/scope.c
  iree/task/worker.c
Owners: none

Add note about how to use Wasm SIMD. (#8285)
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
Owners: none

Adding an in-process wait handle implementation. (#8286)
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/synchronization.h
  iree/base/internal/wait_handle_impl.h
  iree/base/internal/wait_handle_inproc.c
  iree/base/internal/wait_handle_posix.c
  iree/base/internal/wait_handle_posix.h
  iree/base/internal/wait_handle_win32.c
  iree/base/wait_source.h
Owners: none

Move dep to correct target (#8288)
  iree/tools/CMakeLists.txt
Owners: none

Add missing deps and sort deps alphabetically (#8290)
  iree/tools/CMakeLists.txt
Owners: none

.github/CODEOWNERS:

# Codeowners for IREE Github Repository.
# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for syntax of this file.

# Global code owners

# Code owners for individual components/directories
/iree/compiler/Codegen/ @MaheshRavishankar
/iree/compiler/Codegen/LLVMCPU/ @MaheshRavishankar @hanhanW
/iree/compiler/Codegen/LLVMGPU/ @MaheshRavishankar @ThomasRaoux
/iree/compiler/Codegen/Sandbox/ @MaheshRavishankar @hanhanW
/iree/compiler/Codegen/SPIRV/ @MaheshRavishankar @antiagainst
