Repository operskoj2c/iree, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMNGeoffrey, @ScottTodd, @stellaraccident, @ghost, @benvanik, @rsuderman, @ThomasRaoux, @antiagainst, @MaheshRavishankar, @hanhanW

Correct the command in the python env setup. (#8571)
  docs/developers/debugging/tf_integrations_test_repro.md
Owners: @ScottTodd

Advance upstream forks every hour (#8567)
  .github/workflows/advance_upstream_forks.yml
Owners: @GMNGeoffrey, @ScottTodd

Add Python 3.10 to release builds. (#8573)
  .github/workflows/build_package.yml
Owners: @GMNGeoffrey, @ScottTodd

Delete macos_oneshot_build.yml (#8578)
  .github/workflows/macos_oneshot_build.yml
Owners: @GMNGeoffrey, @ScottTodd

Bump timeout limit to 30min for tests on moto phones (#8583)
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Owners: @GMNGeoffrey, @ScottTodd

Avoid running scheduled action in forks (#8587)
  .github/workflows/advance_upstream_forks.yml
Owners: @GMNGeoffrey, @ScottTodd

run_benchmark_on_android improvements (#8558)
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  iree/tools/CMakeLists.txt
  iree/tools/build_config_template.txt.in
Owners: @GMNGeoffrey, @antiagainst, @ScottTodd, @benvanik

Update instructions for reproducing TF/TFLite integration tests (#8589)
  docs/developers/debugging/tf_integrations_test_repro.md
Owners: @ScottTodd

Update quantized matmul tests to not generate stack allocation (#8562)
  iree/test/e2e/regression/linalg_quantized_matmul_vs_linalg_matmul.mlir
Owners: @ghost

fix data race in HALDispatchABI::getProcessorType (#8590)
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
Owners: @hanhanW, @MaheshRavishankar

Fix exit codes in web sample scripts and whitespace in input. (#8588)
  build_tools/cmake/build_runtime_emscripten.sh
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_dynamic/index.html
  experimental/web/sample_static/build_sample.sh
Owners: @GMNGeoffrey, @ScottTodd

Scripts and pipelines for basic orchestration (#8555)
  build_tools/buildkite/README.md
  build_tools/buildkite/check_cla.py
  build_tools/buildkite/cla_failure.yml
  build_tools/buildkite/postsubmit.yml
  build_tools/buildkite/postsubmit_bootstrap.yml
  build_tools/buildkite/presubmit.yml
  build_tools/buildkite/presubmit_bootstrap.yml
  build_tools/buildkite/simulate_buildkite.sh
  build_tools/buildkite/wait_for_pipeline_success.py
Owners: @GMNGeoffrey, @ScottTodd

Convert generic FunctionOpInterface and CallableOpInterface passes to InterfacePass<>. (#8595)
  iree/compiler/Dialect/Flow/Transforms/ConvertToFlow.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/InjectDispatchTracing.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/StripSignednessPass.cpp
  iree/compiler/Dialect/Stream/Transforms/LayoutSlices.cpp
  iree/compiler/Dialect/Stream/Transforms/PackAllocations.cpp
  iree/compiler/Dialect/Stream/Transforms/PackConstants.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  iree/compiler/Dialect/Stream/Transforms/ScheduleConcurrency.cpp
  iree/compiler/Dialect/Stream/Transforms/ScheduleExecution.cpp
  iree/compiler/Dialect/Util/Transforms/SimplifyGlobalAccesses.cpp
Owners: @MaheshRavishankar, @benvanik

Switch presubmit scripts to use main branch (#8596)
  build_tools/buildkite/presubmit.yml
  build_tools/buildkite/presubmit_bootstrap.yml
Owners: @GMNGeoffrey, @ScottTodd

Expose missing register functions in compiler CAPI (#8582)
  llvm-external-projects/iree-compiler-api/BUILD.bazel
  llvm-external-projects/iree-compiler-api/include/iree-compiler-c/Compiler.h
  llvm-external-projects/iree-compiler-api/lib/CAPI/CMakeLists.txt
  llvm-external-projects/iree-compiler-api/lib/CAPI/Compiler.cpp
Owners: @stellaraccident

Switch to iree-tf-fork. Update the llvm bump doc. (#8599)
  docs/developers/developing_iree/llvm_version_bump.md
  integrations/tensorflow/WORKSPACE
Owners: @ScottTodd, @stellaraccident

Combine tflite getting started guide into a single page (#8546)
  docs/website/docs/getting-started/tflite-cmd.md
  docs/website/docs/getting-started/tflite-python.md
  docs/website/docs/getting-started/tflite.md
Owners: @ScottTodd

Enable alwaysAliasingWithDest in IREE comprehensive bufferization. (#8594)
  iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
Owners: @MaheshRavishankar

Add README documenting experimental status of `LinalgExt`. (#8603)
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/README.md
Owners: @hanhanW, @MaheshRavishankar

Return error instead of asserting in bufferization copy callback. (#8528)
  iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/Common/MemrefCopyToLinalg.cpp
  iree/compiler/Codegen/Utils/Utils.cpp
Owners: @MaheshRavishankar

Fix Lambda layers test and bump Swiftshader (#8605)
  .github/workflows/android_tflite_oneshot_build.yml
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/android/Dockerfile
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/frontends-nvidia/Dockerfile
  build_tools/docker/frontends-swiftshader/Dockerfile
  build_tools/docker/frontends/Dockerfile
  build_tools/docker/gradle-android/Dockerfile
  build_tools/docker/nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/riscv/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  build_tools/third_party/swiftshader/build_vk_swiftshader.sh
  integrations/tensorflow/test/python/iree_tf_tests/layers/layers_test.py
Owners: @GMNGeoffrey, @ScottTodd, @stellaraccident

Remove ad-hoc logic to make the dest of `tensor.insert_slice` op a tied argument in dispatch region formation. (#8607)
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Owners: @MaheshRavishankar

Connect transform dialect passes into IREE. (#8602)
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/linalg_transform.mlir
  iree/compiler/Codegen/LLVMCPU/test/linalg_transform_spec.mlir
  iree/compiler/Codegen/Passes.h
  iree/tools/init_iree_dialects.h
  iree/tools/init_mlir_dialects.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/Transforms/TransformInterpreter.cpp
Owners: @GMNGeoffrey, @ScottTodd, @MaheshRavishankar, @hanhanW, @benvanik

Add peel_loop_op to transform dialect (#8624)
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/LinalgTransformOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/LinalgTransformOps.cpp
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/peel.mlir
Owners: @MaheshRavishankar

[LinalgExt] Add tests related to parallel abstractions (#8623)
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/LinalgTransformOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/LinalgTransformOps.cpp
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/bufferize-in-parallel.mlir
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/in-parallel-to-async.mlir
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/in-parallel-to-sequential-for.mlir
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/tile-to-in-parallel.mlir
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/tile-to-sequential-for.mlir
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/tiling-to-tile-op.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/bufferize.mlir
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/CMakeLists.txt
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/iree-dialects-opt.cpp
Owners: @MaheshRavishankar

[cuda] Fix verifier for tensorcore pipeline. (#8622)
  iree/compiler/Codegen/LLVMGPU/Verifiers.cpp
  iree/compiler/Codegen/LLVMGPU/test/illegal_configuration.mlir
Owners: @MaheshRavishankar, @ThomasRaoux

More benchmark android improvements (#8600)
  build_tools/benchmarks/run_benchmarks_on_android.py
Owners: @GMNGeoffrey, @antiagainst

Add MobileBert Benchmarks (#8281)
  benchmarks/TFLite/CMakeLists.txt
Owners: @GMNGeoffrey, @antiagainst

Split setting distribution information out from TileAndDistributeToWorkgroupsPass (#8613)
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/InsertDistributionInfoPass.cpp
  iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/insert_distribution_info.mlir
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/Passes.cpp
Owners: @MaheshRavishankar, @hanhanW, @ThomasRaoux, @antiagainst

Add a pass to bufferize early copy only dispatches. (#8529)
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  iree/compiler/Codegen/Common/BufferizeCopyOnlyDispatchesPass.cpp
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/bufferize_copy_only_dispatches.mlir
  iree/compiler/Codegen/Common/test/insert_distribution_info.mlir
  iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ext_ops.mlir
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
Owners: @MaheshRavishankar, @hanhanW, @ThomasRaoux, @antiagainst

Bootstrap and automatically update Buildkite pipelines (#8619)
  build_tools/buildkite/pipelines/include/README.md
  build_tools/buildkite/pipelines/include/cla-failure.yml
  build_tools/buildkite/pipelines/postsubmit.yml
  build_tools/buildkite/pipelines/presubmit.yml
  build_tools/buildkite/postsubmit.yml
  build_tools/buildkite/postsubmit_bootstrap.yml
  build_tools/buildkite/presubmit.yml
  build_tools/buildkite/presubmit_bootstrap.yml
  build_tools/buildkite/scripts/bootstrap_pipeline.sh
  build_tools/buildkite/scripts/check_cla.py
  build_tools/buildkite/scripts/simulate_buildkite.sh
  build_tools/buildkite/scripts/update_pipeline_configuration.py
  build_tools/buildkite/scripts/wait_for_pipeline_success.py
Owners: @GMNGeoffrey, @ScottTodd

[CUDA] Set attribute for function using large shared memory (#8634)
  iree/hal/cuda/dynamic_symbol_tables.h
  iree/hal/cuda/native_executable.c
Owners: @ThomasRaoux

bump tracy (#8629)
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Owners: @GMNGeoffrey, @ScottTodd

[NFC] Add StrategyTilingLevel enum class to clear tiling level meaning. (#8633)
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.h
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
Owners: @hanhanW, @MaheshRavishankar

Revert "Add a pass to bufferize early copy only dispatches. (#8529)" (#8641)
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  iree/compiler/Codegen/Common/BufferizeCopyOnlyDispatchesPass.cpp
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/bufferize_copy_only_dispatches.mlir
  iree/compiler/Codegen/Common/test/insert_distribution_info.mlir
  iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ext_ops.mlir
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
Owners: @MaheshRavishankar, @hanhanW, @ThomasRaoux, @antiagainst

Remove IREE artifacts after testing to reclaim phone storage (#8640)
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Owners: @GMNGeoffrey, @ScottTodd

Always remove temorary directory used for benchmarking on the host (#8643)
  build_tools/benchmarks/run_benchmarks_on_android.py
Owners: @GMNGeoffrey, @antiagainst

Enable selecting which drivers to build in Bazel (#8646)
  build_tools/bazel/iree.bazelrc
  iree/build_defs.oss.bzl
  iree/hal/drivers/BUILD
Owners: @GMNGeoffrey, @ScottTodd, @benvanik

Update presubmit pipeline for fixes when fetching existing branch (#8647)
  build_tools/buildkite/pipelines/presubmit.yml
Owners: @GMNGeoffrey, @ScottTodd

Generalize AndroidDeviceInfo to DeviceInfo. (#8615)
  build_tools/benchmarks/common/android_device_utils.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/run_benchmarks_on_android.py
Owners: @GMNGeoffrey, @antiagainst

.github/CODEOWNERS:

# Codeowners for IREE Github Repository.
# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for syntax of this file (tl;dr: syntax is like .gitignore. Last matching rule
# takes precedence).
# Because of the precedence, rules for directories are listed topologically.
# @ghost is used to make a pattern have no owners. It is a sentinel GitHub user
# that takes the place of deleted users.

# No global owners because we don't really want e.g. changing the root
# CMakeLists.txt file to always ping a bunch of people.

# Code owners for individual components/directories

# Third-Party Code
/.gitmodules @GMNGeoffrey @ScottTodd @stellaraccident
/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
# Except for routinely-updated submodules
/third_party/llvm-project @ghost
/third_party/tensorflow @ghost
/third_party/mlir-hlo @ghost

# Bindings
/bindings/python/ @stellaraccident
/bindings/tflite/ @benvanik

# Integrations
/integrations/ @benvanik @stellaraccident
/integrations/tensorflow/ @stellaraccident
/integrations/tensorflow/build_tools/ @GMNGeoffrey @stellaraccident
/integrations/tensorflow/test/**/iree_tfl_tests/ @rsuderman

# Experimental
# It's experimental, but we still don't want any old directory added here.
/experimental/ @benvanik @GMNGeoffrey @stellaraccident
/experimental/remoting/ @stellaraccident
/experimental/rocm/ @ThomasRaoux
/experimental/web/ @ScottTodd

# Infra Top-Level Directories
/benchmarks/ @GMNGeoffrey @antiagainst
/build_tools/ @GMNGeoffrey @ScottTodd
/build_tools/benchmarks/ @GMNGeoffrey @antiagainst
/build_tools/python_deploy/ @stellaraccident
/build_tools/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
/.github/ @GMNGeoffrey @ScottTodd
/scripts/ @GMNGeoffrey @ScottTodd

# llvm-external-projects
/llvm-external-projects/ @stellaraccident
/llvm-external-projects/iree-dialects/ @MaheshRavishankar
/llvm-external-projects/iree-dialects/**/Dialect/LinalgExt/ @hanhanW @MaheshRavishankar
/llvm-external-projects/iree-dialects/test/iree_linalgext @hanhanW @MaheshRavishankar

# Other Top-Level Directories
/colab/ @ScottTodd
/docs/ @ScottTodd


# Main IREE directories
/iree/ @benvanik

# Compiler
/iree/compiler/Codegen/ @MaheshRavishankar
/iree/compiler/Codegen/LLVMCPU/ @hanhanW @MaheshRavishankar
/iree/compiler/Codegen/LLVMGPU/ @MaheshRavishankar @ThomasRaoux
/iree/compiler/Codegen/Sandbox/ @hanhanW @MaheshRavishankar
/iree/compiler/Codegen/SPIRV/ @antiagainst @MaheshRavishankar
/iree/compiler/ConstEval/ @stellaraccident
/iree/compiler/Dialect/Flow/ @MaheshRavishankar
/iree/compiler/Dialect/Vulkan/ @antiagainst
/iree/compiler/InputConversion/ @MaheshRavishankar @stellaraccident
/iree/compiler/InputConversion/MHLO @hanhanW @MaheshRavishankar @rsuderman
/iree/compiler/InputConversion/TOSA @MaheshRavishankar @rsuderman


# Runtime
/iree/hal/cuda/ @ThomasRaoux
/iree/hal/cts/ @ScottTodd
/iree/hal/vulkan/ @antiagainst @ScottTodd

# Other IREE directories
/iree/samples/ @ScottTodd
/iree/test/ @ghost
/iree/tools/ @benvanik @GMNGeoffrey
