Repository operskoj2c/iree, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMNGeoffrey, @ScottTodd, @stellaraccident, @ghost, @benvanik, @rsuderman, @ThomasRaoux, @antiagainst, @MaheshRavishankar, @hanhanW

Adding dedicated tracy allocation tracking for CUDA.
  iree/hal/cuda/cuda_allocator.c
Owners: @ThomasRaoux

Adding utility for reusing the subspan buffer implementation. This allows for wrapper-hosted storage (with caveats).
  iree/hal/buffer.c
  iree/hal/buffer.h
Owners: @benvanik

Adding IREE_ASSERT_REF_COUNT_ZERO helper.
  iree/base/internal/atomics.h
Owners: @benvanik

Update SwiftShader to d15c4248 (2022-04-07)
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/samples.yml
  build_tools/docker/frontends-swiftshader/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
Owners: @GMNGeoffrey, @ScottTodd

Remove retired RISC-V LLVM option (#8830)
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/test.sh
Owners: @GMNGeoffrey, @ScottTodd

Generalize bazel_to_cmake iree-dialects conversions. (#8800)
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
Owners: @GMNGeoffrey, @ScottTodd

Handle offsets/strides correctly while rewriting destructive updates. (#8793)
  iree/compiler/Codegen/Common/BufferizeCopyOnlyDispatchesPass.cpp
  iree/compiler/Codegen/Common/DestructiveUpdateUtils.cpp
  iree/compiler/Codegen/Common/test/bufferize_copy_only_dispatches.mlir
  iree/compiler/Codegen/Common/test/rewrite_linalg_destructive_updates.mlir
  iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/regression/strided_slice.mlir
Owners: @MaheshRavishankar, @ghost

Fixes for CompilationInfoAttr::get methods. (#8842)
  iree/compiler/Codegen/Dialect/LoweringConfig.cpp
  iree/compiler/Codegen/Dialect/LoweringConfig.td
Owners: @MaheshRavishankar

Proper fixes for padding in IREE CodegenStrategy (#8843)
  iree/compiler/Codegen/Sandbox/BUILD
  iree/compiler/Codegen/Sandbox/CMakeLists.txt
  iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  iree/compiler/Codegen/Sandbox/Passes.h
  iree/compiler/Codegen/Sandbox/Passes.td
Owners: @hanhanW, @MaheshRavishankar

Add tracing macro for IREE_HAL_CUDA_ALLOCATOR_ID (#8845)
  iree/hal/cuda/cuda_allocator.c
Owners: @ThomasRaoux

Add tests and benchmarks for transpose op targeting AVX2 (#8750)
  iree/compiler/Codegen/LLVMCPU/test/transpose_avx2_lowering.mlir
  iree/test/microbenchmarks/BUILD
  iree/test/microbenchmarks/CMakeLists.txt
  iree/test/microbenchmarks/linalg_transpose.mlir
Owners: @hanhanW, @MaheshRavishankar, @ghost

Modify elementwise fusion for changes in D123236. (#8841)
  iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
Owners: @MaheshRavishankar

Fix bufferization of in_parallel
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/LinalgExtBufferization.cpp
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/bufferize-in-parallel.mlir
Owners: @hanhanW, @MaheshRavishankar

Fix tracing macro for IREE_HAL_CUDA_ALLOCATOR_ID (#8852)
  iree/hal/cuda/cuda_allocator.c
Owners: @ThomasRaoux

Make MapElementTypeToDType consistent with the enum (#8810)
  bindings/python/iree/runtime/array_interop_test.py
  bindings/python/iree/runtime/hal.cc
Owners: @stellaraccident

Adding -iree-hal-dump-executable-benchmarks-to= flag. This produces a directory of mlir files that can be translated and passed to iree-benchmark-module.
  iree/compiler/Dialect/HAL/Conversion/StreamToHAL/ConvertStreamToHAL.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Transforms/test/BUILD
  iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/test/dump_executable_benchmarks.mlir
  iree/compiler/Dialect/Stream/Conversion/HALToStream/ConvertHALToStream.cpp
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/VerifyLowerings.cpp
Owners: @benvanik

Adding dispatch support to iree-benchmark-module.
  iree/compiler/Dialect/Flow/Transforms/ExportBenchmarkFuncs.cpp
  iree/compiler/Dialect/Flow/Transforms/test/export_benchmark_funcs.mlir
  iree/tools/iree-benchmark-module-main.cc
Owners: @MaheshRavishankar, @benvanik, @GMNGeoffrey

Fix memory handling problem in matmul_test and renable cuda tests (#8797)
  iree/test/e2e/matmul/BUILD
  iree/test/e2e/matmul/CMakeLists.txt
  iree/tools/iree-e2e-matmul-test.c
Owners: @ghost, @benvanik, @GMNGeoffrey

Order worker initialization vs other threads stealing work (#8854)
  iree/task/executor.c
  iree/task/post_batch.c
Owners: @benvanik

Fix data race: different mutexes were guarding the same data (#8856)
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
Owners: @hanhanW, @MaheshRavishankar

Fix the format of driver and target_arch. (#8829)
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/common/benchmark_suite_test.py
Owners: @GMNGeoffrey, @antiagainst

matmul test, remove native_vector[] from config (#8857)
  iree/test/e2e/matmul/generate_e2e_matmul_tests.py
Owners: @ghost

[ci] Publish source MLIR modules after benchmark compilation (#8858)
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Owners: @GMNGeoffrey, @ScottTodd

Add BenchmarkDriver to run common benchmark flow. (#8654)
  build_tools/benchmarks/common/CMakeLists.txt
  build_tools/benchmarks/common/benchmark_config.py
  build_tools/benchmarks/common/benchmark_config_test.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_driver.py
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/run_benchmarks_on_android.py
Owners: @GMNGeoffrey, @antiagainst

Add a sript to fetch and trim the CUDA toolkit deps needed to build. (#8862)
  build_tools/docker/base/Dockerfile
  build_tools/docker/base/fetch_cuda_deps.sh
Owners: @GMNGeoffrey, @ScottTodd

Update docker images to pick up iree_cuda_deps in base. (#8865)
  .github/workflows/android_tflite_oneshot_build.yml
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/android/Dockerfile
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/frontends-nvidia/Dockerfile
  build_tools/docker/frontends-swiftshader/Dockerfile
  build_tools/docker/frontends/Dockerfile
  build_tools/docker/gradle-android/Dockerfile
  build_tools/docker/nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/riscv/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Owners: @GMNGeoffrey, @ScottTodd

Always build CUDA on CI. (#8867)
  CMakeLists.txt
  build_tools/cmake/rebuild.sh
Owners: @GMNGeoffrey, @ScottTodd

Force push latest-snapshot (#8869)
  .github/workflows/validate_and_publish_release.yml
Owners: @GMNGeoffrey, @ScottTodd

Enable CUDA on remainder of eligible bots. (#8868)
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
Owners: @GMNGeoffrey, @ScottTodd

Make benchmark artifact generation a bit more flexible. (#8846)
  CMakeLists.txt
  build_tools/cmake/iree_benchmark_suite.cmake
Owners: @GMNGeoffrey, @ScottTodd

.github/CODEOWNERS:

# Codeowners for IREE Github Repository.
# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for syntax of this file (tl;dr: syntax is like .gitignore. Last matching rule
# takes precedence).
# Because of the precedence, rules for directories are listed topologically.
# @ghost is used to make a pattern have no owners. It is a sentinel GitHub user
# that takes the place of deleted users.

# No global owners because we don't really want e.g. changing the root
# CMakeLists.txt file to always ping a bunch of people.

# Code owners for individual components/directories

# Third-Party Code
/.gitmodules @GMNGeoffrey @ScottTodd @stellaraccident
/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
# Except for routinely-updated submodules
/third_party/llvm-project @ghost
/third_party/tensorflow @ghost
/third_party/mlir-hlo @ghost

# Bindings
/bindings/python/ @stellaraccident
/bindings/tflite/ @benvanik

# Integrations
/integrations/ @benvanik @stellaraccident
/integrations/tensorflow/ @stellaraccident
/integrations/tensorflow/build_tools/ @GMNGeoffrey @stellaraccident
/integrations/tensorflow/test/**/iree_tfl_tests/ @rsuderman

# Experimental
# It's experimental, but we still don't want any old directory added here.
/experimental/ @benvanik @GMNGeoffrey @stellaraccident
/experimental/remoting/ @stellaraccident
/experimental/rocm/ @ThomasRaoux
/experimental/web/ @ScottTodd

# Infra Top-Level Directories
/benchmarks/ @GMNGeoffrey @antiagainst
/build_tools/ @GMNGeoffrey @ScottTodd
/build_tools/benchmarks/ @GMNGeoffrey @antiagainst
/build_tools/python_deploy/ @stellaraccident
/build_tools/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
/.github/ @GMNGeoffrey @ScottTodd
/scripts/ @GMNGeoffrey @ScottTodd

# llvm-external-projects
/llvm-external-projects/ @stellaraccident
/llvm-external-projects/iree-dialects/ @MaheshRavishankar
/llvm-external-projects/iree-dialects/**/Dialect/LinalgExt/ @hanhanW @MaheshRavishankar
/llvm-external-projects/iree-dialects/test/iree_linalgext @hanhanW @MaheshRavishankar

# Other Top-Level Directories
/colab/ @ScottTodd
/docs/ @ScottTodd


# Main IREE directories
/iree/ @benvanik

# Compiler
/iree/compiler/Codegen/ @MaheshRavishankar
/iree/compiler/Codegen/LLVMCPU/ @hanhanW @MaheshRavishankar
/iree/compiler/Codegen/LLVMGPU/ @MaheshRavishankar @ThomasRaoux
/iree/compiler/Codegen/Sandbox/ @hanhanW @MaheshRavishankar
/iree/compiler/Codegen/SPIRV/ @antiagainst @MaheshRavishankar
/iree/compiler/ConstEval/ @stellaraccident
/iree/compiler/Dialect/Flow/ @MaheshRavishankar
/iree/compiler/Dialect/Vulkan/ @antiagainst
/iree/compiler/InputConversion/ @MaheshRavishankar @stellaraccident
/iree/compiler/InputConversion/MHLO @hanhanW @MaheshRavishankar @rsuderman
/iree/compiler/InputConversion/TOSA @MaheshRavishankar @rsuderman


# Runtime
/iree/hal/cuda/ @ThomasRaoux
/iree/hal/cts/ @ScottTodd
/iree/hal/vulkan/ @antiagainst @ScottTodd

# Other IREE directories
/iree/samples/ @ScottTodd
/iree/test/ @ghost
/iree/tools/ @benvanik @GMNGeoffrey
