Repository operskoj2c/iree, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMNGeoffrey, @ScottTodd, @stellaraccident, @ghost, @benvanik, @rsuderman, @ThomasRaoux, @antiagainst, @MaheshRavishankar, @hanhanW

Update README for bumping LLVM with instructions to use the script. (#8697)
  docs/developers/developing_iree/llvm_version_bump.md
Owners: @ScottTodd

Integrate llvm-project at c531171d995728f55e5775d354a21dceed03edce (#8692)
  integrations/tensorflow/WORKSPACE
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgTransform/Transforms/ExpertExpansion.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgTransform/Transforms/TransformInterpreter.cpp
  integrations/tensorflow/iree_tf_compiler/MHLO/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/SavedModelToIreeABI.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/BUILD
  iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/Common/OptimizeVectorTransferPass.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUPipelining.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorToGPU.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/LinalgTransformOps.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/PDL.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/Transforms/ExpertExpansion.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/Transforms/TransformInterpreter.cpp
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/double-tiling.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/pad.mlir
Owners: @stellaraccident, @MaheshRavishankar, @ThomasRaoux, @antiagainst, @hanhanW

lock the mutex around the condvar destruction (#8703)
  iree/base/internal/synchronization.c
Owners: @benvanik

Reactivate linalg_transform.pad post-LLVM integrate (#8705)
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/LinalgTransformOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/LinalgTransformOps.cpp
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/_iree_linalg_transform_ops_ext.py
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/double-tiling.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/pad.mlir
Owners: @MaheshRavishankar

Split peeling from TileOp transform (#8706)
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/LinalgTransformOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/LinalgTransformOps.cpp
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/_iree_linalg_transform_ops_ext.py
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/double-tiling.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/expert.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/failure.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/invalid.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/roundtrip.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/single-tiling-full-script.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/tile-and-peel.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/tile-interchange.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/tile.mlir
Owners: @MaheshRavishankar

Tag host-cpu tests as "local"
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Owners: @ghost

Adding -iree-hal-dump-executable-sources-to= flag. (#8699)
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/DumpExecutableSources.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Transforms/VerifyTargetEnvironment.cpp
  iree/compiler/Dialect/HAL/Transforms/test/BUILD
  iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/test/dump_executable_sources.mlir
  iree/compiler/Dialect/HAL/Transforms/test/verify_target_environment.mlir
Owners: @benvanik

Initiate the benchmark script for Linux (#8649)
  CMakeLists.txt
  build_tools/benchmarks/CMakeLists.txt
  build_tools/benchmarks/common/CMakeLists.txt
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/common_arguments.py
  build_tools/benchmarks/common/common_arguments_test.py
  build_tools/benchmarks/common/linux_device_utils.py
  build_tools/benchmarks/common/linux_device_utils_test.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
Owners: @GMNGeoffrey, @antiagainst

Exclude benchmark tool tests on Android. (#8711)
  build_tools/benchmarks/common/CMakeLists.txt
Owners: @GMNGeoffrey, @antiagainst

Enable vectorization for CPUBufferOpsTileAndVectorize pipeline (#8721)
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
Owners: @hanhanW, @MaheshRavishankar

Fix scalarize_dyn_dims composition. (#8725)
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/LinalgTransformOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/LinalgTransformOps.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/Transforms/TransformInterpreter.cpp
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/_iree_linalg_transform_ops_ext.py
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/double-tiling.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/invalid.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/scalarize.mlir
Owners: @MaheshRavishankar

Move e2e test of linalg_transform to `e2e/test/linalg_ext_ops` (#8700)
  iree/compiler/Translation/test/BUILD
  iree/compiler/Translation/test/CMakeLists.txt
  iree/test/e2e/linalg_ext_ops/BUILD
  iree/test/e2e/linalg_ext_ops/CMakeLists.txt
  iree/test/e2e/linalg_ext_ops/linalg_transform.mlir
  iree/test/e2e/linalg_ext_ops/linalg_transform_spec.mlir
Owners: @benvanik, @ghost

[spirv] Support scalarizing non-minor-identity transfer write (#8716)
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
Owners: @antiagainst, @MaheshRavishankar

Add MobileBERT int8 to the experimental benchmark configs (#8732)
  benchmarks/TFLite/CMakeLists.txt
Owners: @GMNGeoffrey, @antiagainst

Move `linalg_transform` tests to `e2e/test/linalg_transform/`. (#8736)
  iree/test/e2e/linalg_ext_ops/BUILD
  iree/test/e2e/linalg_ext_ops/CMakeLists.txt
  iree/test/e2e/linalg_transform/BUILD
  iree/test/e2e/linalg_transform/CMakeLists.txt
  iree/test/e2e/linalg_transform/linalg_transform.mlir
  iree/test/e2e/linalg_transform/linalg_transform_spec.mlir
Owners: @ghost

VM::Conversion: add arith::populateArithmeticExpandOpsPatterns (#8730)
  iree/compiler/Dialect/VM/Transforms/BUILD
  iree/compiler/Dialect/VM/Transforms/CMakeLists.txt
  iree/compiler/Dialect/VM/Transforms/Conversion.cpp
Owners: @benvanik

Integrate llvm-project at 567a979ea8099b221af9dae08f1f4973c8c2f003 (#8740)
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/Tiling.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Tiling.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/TilingExternalModels.cpp
Owners: @stellaraccident, @hanhanW, @MaheshRavishankar

Enable AVX2 lowering for vector.transpose in double tile expert (#8704)
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/transpose_avx2_lowering.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
Owners: @hanhanW, @MaheshRavishankar

Fix rewriting logic in CaptureDispatchDynamicDims (#8737)
  integrations/tensorflow/test/iree_tf_tests/uncategorized/llvmaot__fill.run
  integrations/tensorflow/test/iree_tf_tests/uncategorized/vulkan__fill.run
  iree/compiler/Dialect/Flow/Transforms/CaptureDispatchDynamicDims.cpp
  iree/compiler/Dialect/Flow/Transforms/test/capture_dispatch_dynamic_dims.mlir
Owners: @stellaraccident, @MaheshRavishankar

Properly enable +dotprod in int8 benchmarks. (#8743)
  benchmarks/TFLite/CMakeLists.txt
Owners: @GMNGeoffrey, @antiagainst

Add "hostonly" tag to the host features test suite. (#8748)
  build_tools/cmake/iree_check_test.cmake
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Owners: @GMNGeoffrey, @ScottTodd, @ghost

Adding an error message when iree-util-apply-patterns fails. (#8754)
  iree/compiler/Dialect/Util/Transforms/ApplyPatterns.cpp
Owners: @benvanik

Adds a script to update the readme on supported TFLite models (#8707)
  integrations/tensorflow/test/iree_tfl_tests/README.md
  integrations/tensorflow/test/iree_tfl_tests/update_tflite_model_documentation.py
Owners: @rsuderman

Add optional target parameter to PrintOp. (#8758)
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/_iree_linalg_transform_ops_ext.py
Owners: @MaheshRavishankar

Add config class to represent the parameters of benchmark script (#8744)
  build_tools/benchmarks/common/CMakeLists.txt
  build_tools/benchmarks/common/benchmark_config.py
  build_tools/benchmarks/common/benchmark_config_test.py
Owners: @GMNGeoffrey, @antiagainst

TSan instrumentation of module code (#8474)
  CMakeLists.txt
  build_tools/cmake/iree_bytecode_module.cmake
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.h
  iree/hal/local/loaders/system_library_loader.c
Owners: @GMNGeoffrey, @ScottTodd, @benvanik

Update iree-flow-trace-dispatch-tensors flag name. (#8762)
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/test/e2e/regression/trace_dispatch_tensors.mlir
Owners: @MaheshRavishankar, @ghost

Add tips for debugging correctness issues. (#8763)
  docs/developers/debugging/integration_correctness_issue_breakdown.md
Owners: @ScottTodd

Upgrade Bazel version to 5.1.0. (#8765)
  .bazelversion
  .github/workflows/android_tflite_oneshot_build.yml
  .github/workflows/build_package.yml
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/android/Dockerfile
  build_tools/docker/base/Dockerfile
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/frontends-nvidia/Dockerfile
  build_tools/docker/frontends-swiftshader/Dockerfile
  build_tools/docker/frontends/Dockerfile
  build_tools/docker/gradle-android/Dockerfile
  build_tools/docker/nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/riscv/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  integrations/tensorflow/.bazelversion
  integrations/tensorflow/build_tools/bazel/iree-tf.bazelrc
Owners: @GMNGeoffrey, @ScottTodd, @stellaraccident

[CUDA] Add pass to try to reduce shared memory bank conflicts (#8764)
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/LLVMGPUReduceBankConflicts.cpp
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/test/BUILD
  iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/test/reduce_bank_conflicts.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
Owners: @MaheshRavishankar, @ThomasRaoux

Integrate llvm-project at c50eec400c0edc73eec3c9e97b5c030492cb787f (#8747)
  integrations/tensorflow/WORKSPACE
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__asinh.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__complex_asinh.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__complex_dynamic_dim_asinh.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__complex_dynamic_dim_sign.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__complex_sign.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_asinh.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_sign.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__sign.run
Owners: @stellaraccident

Add a oneshot build and allow building on a branch (#8746)
  .github/workflows/oneshot_candidate_release.yml
Owners: @GMNGeoffrey, @ScottTodd

[vulkan] Enable passing MHLO round test (#8728)
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Owners: @ghost

Add a pass to initialize all remaining empty tensors to zero-filled tensors (#8749)
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/InitializeEmptyTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/initialize_empty_tensor.mlir
Owners: @MaheshRavishankar

Updating to use the mlir::parseSourceString template argument.
  integrations/tensorflow/iree-dialects/lib/Dialect/PyDM/Transforms/RTL/LinkRTLPass.cpp
  iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  iree/compiler/Dialect/Modules/Check/IR/CheckDialect.cpp
  iree/compiler/Dialect/Modules/VMVX/IR/VMVXDialect.cpp
  iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
  iree/compiler/Utils/ModuleUtils.cpp
  iree/tools/iree-run-mlir-main.cc
  llvm-external-projects/iree-dialects/lib/Dialect/PyDM/Transforms/RTL/LinkRTLPass.cpp
Owners: @stellaraccident, @benvanik, @GMNGeoffrey, @MaheshRavishankar

Fixing uninitialized return warning.
  iree/compiler/Dialect/VM/Target/C/TranslateToCpp.cpp
Owners: @benvanik

Preserving MHLO demotion behavior until #8745 is fixed.
  iree/compiler/InputConversion/MHLO/BUILD
  iree/compiler/InputConversion/MHLO/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/Passes.cpp
  iree/test/e2e/models/unidirectional_lstm.mlir
  llvm-external-projects/iree-compiler-api/pyproject.toml
Owners: @hanhanW, @MaheshRavishankar, @rsuderman, @ghost, @stellaraccident

Unifying type promotion/demotion into a generic pass.
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/DemoteF32ToF16.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/f32Tof16.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/ConstEval/Runtime.cpp
  iree/compiler/ConstEval/test/jit_globals.mlir
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/TypeConverter.cpp
  iree/compiler/Dialect/Flow/Transforms/TypeConverter.h
  iree/compiler/Dialect/Util/Transforms/BUILD
  iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Util/Transforms/ConvertPrimitiveType.cpp
  iree/compiler/Dialect/Util/Transforms/Passes.h
  iree/compiler/Dialect/Util/Transforms/test/BUILD
  iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Util/Transforms/test/demote_f32_to_f16.mlir
  iree/compiler/Dialect/Util/Transforms/test/demote_f64_to_f32.mlir
  iree/compiler/Dialect/Util/Transforms/test/demote_i64_to_i32.mlir
  iree/compiler/Dialect/Util/Transforms/test/promote_f16_to_f32.mlir
  iree/compiler/InputConversion/MHLO/BUILD
  iree/compiler/InputConversion/MHLO/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/LegalizeInputTypes.cpp
  iree/compiler/InputConversion/MHLO/Passes.cpp
  iree/compiler/InputConversion/MHLO/Passes.h
  iree/compiler/InputConversion/MHLO/Passes.td
  iree/compiler/InputConversion/MHLO/test/BUILD
  iree/compiler/InputConversion/MHLO/test/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/test/legalize_input_types.mlir
Owners: @MaheshRavishankar, @stellaraccident, @benvanik, @hanhanW, @rsuderman

Reject compat of device-local mappable CUDA buffers if not avail.
  iree/hal/cuda/cuda_allocator.c
Owners: @ThomasRaoux

Making buffer generation only request host visibility if needed.
  iree/hal/buffer_view_util.c
Owners: @benvanik

.github/CODEOWNERS:

# Codeowners for IREE Github Repository.
# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for syntax of this file (tl;dr: syntax is like .gitignore. Last matching rule
# takes precedence).
# Because of the precedence, rules for directories are listed topologically.
# @ghost is used to make a pattern have no owners. It is a sentinel GitHub user
# that takes the place of deleted users.

# No global owners because we don't really want e.g. changing the root
# CMakeLists.txt file to always ping a bunch of people.

# Code owners for individual components/directories

# Third-Party Code
/.gitmodules @GMNGeoffrey @ScottTodd @stellaraccident
/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
# Except for routinely-updated submodules
/third_party/llvm-project @ghost
/third_party/tensorflow @ghost
/third_party/mlir-hlo @ghost

# Bindings
/bindings/python/ @stellaraccident
/bindings/tflite/ @benvanik

# Integrations
/integrations/ @benvanik @stellaraccident
/integrations/tensorflow/ @stellaraccident
/integrations/tensorflow/build_tools/ @GMNGeoffrey @stellaraccident
/integrations/tensorflow/test/**/iree_tfl_tests/ @rsuderman

# Experimental
# It's experimental, but we still don't want any old directory added here.
/experimental/ @benvanik @GMNGeoffrey @stellaraccident
/experimental/remoting/ @stellaraccident
/experimental/rocm/ @ThomasRaoux
/experimental/web/ @ScottTodd

# Infra Top-Level Directories
/benchmarks/ @GMNGeoffrey @antiagainst
/build_tools/ @GMNGeoffrey @ScottTodd
/build_tools/benchmarks/ @GMNGeoffrey @antiagainst
/build_tools/python_deploy/ @stellaraccident
/build_tools/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
/.github/ @GMNGeoffrey @ScottTodd
/scripts/ @GMNGeoffrey @ScottTodd

# llvm-external-projects
/llvm-external-projects/ @stellaraccident
/llvm-external-projects/iree-dialects/ @MaheshRavishankar
/llvm-external-projects/iree-dialects/**/Dialect/LinalgExt/ @hanhanW @MaheshRavishankar
/llvm-external-projects/iree-dialects/test/iree_linalgext @hanhanW @MaheshRavishankar

# Other Top-Level Directories
/colab/ @ScottTodd
/docs/ @ScottTodd


# Main IREE directories
/iree/ @benvanik

# Compiler
/iree/compiler/Codegen/ @MaheshRavishankar
/iree/compiler/Codegen/LLVMCPU/ @hanhanW @MaheshRavishankar
/iree/compiler/Codegen/LLVMGPU/ @MaheshRavishankar @ThomasRaoux
/iree/compiler/Codegen/Sandbox/ @hanhanW @MaheshRavishankar
/iree/compiler/Codegen/SPIRV/ @antiagainst @MaheshRavishankar
/iree/compiler/ConstEval/ @stellaraccident
/iree/compiler/Dialect/Flow/ @MaheshRavishankar
/iree/compiler/Dialect/Vulkan/ @antiagainst
/iree/compiler/InputConversion/ @MaheshRavishankar @stellaraccident
/iree/compiler/InputConversion/MHLO @hanhanW @MaheshRavishankar @rsuderman
/iree/compiler/InputConversion/TOSA @MaheshRavishankar @rsuderman


# Runtime
/iree/hal/cuda/ @ThomasRaoux
/iree/hal/cts/ @ScottTodd
/iree/hal/vulkan/ @antiagainst @ScottTodd

# Other IREE directories
/iree/samples/ @ScottTodd
/iree/test/ @ghost
/iree/tools/ @benvanik @GMNGeoffrey
