Repository operskoj2c/iree, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMNGeoffrey, @ScottTodd, @stellaraccident, @ghost, @benvanik, @rsuderman, @ThomasRaoux, @antiagainst, @MaheshRavishankar, @hanhanW

Add a pass to bufferize early copy only dispatches. (#8648)
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  iree/compiler/Codegen/Common/BufferizeCopyOnlyDispatchesPass.cpp
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/bufferize_copy_only_dispatches.mlir
  iree/compiler/Codegen/Common/test/insert_distribution_info.mlir
  iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ext_ops.mlir
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
Owners: @MaheshRavishankar, @hanhanW, @ThomasRaoux, @antiagainst

Patch iterator use for std::is_permutation, fixing MSVC builds.
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/LinalgTransformOps.cpp
Owners: @MaheshRavishankar

Add include for GreedyPatternRewriteDriver implementation.
  llvm-external-projects/iree-dialects/include/iree-dialects/Transforms/ListenerGreedyPatternRewriteDriver.h
Owners: @MaheshRavishankar

[CUDA] Add pattern to collapse vector.transfer_read to 2D when possible (#8636)
  iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorToGPU.cpp
  iree/compiler/Codegen/LLVMGPU/test/vector_to_gpu.mlir
Owners: @MaheshRavishankar, @ThomasRaoux

Enable now passing Wasm compilation tests. (#8565)
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Owners: @ghost

Add wasm-linker-path options and leave system linker path unset. (#8591)
  build_tools/bazel/iree_bytecode_module.bzl
  build_tools/cmake/iree_bytecode_module.cmake
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.h
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
Owners: @GMNGeoffrey, @ScottTodd, @benvanik

Update debugging TF integration tests instructions. (#8657)
  docs/developers/debugging/tf_integrations_test_repro.md
Owners: @ScottTodd

add IREE_BYTECODE_MODULE_FORCE_SYSTEM_DYLIB_LINKER (#8659)
  CMakeLists.txt
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/cmake/iree_bytecode_module.cmake
Owners: @GMNGeoffrey, @ScottTodd

[Cleanup] Drop native_vector_size attr from lowering_config lit tests. (#8663)
  iree/compiler/Codegen/Common/test/convert_to_destination_passing_style.mlir
  iree/compiler/Codegen/Common/test/insert_distribution_info.mlir
  iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  iree/compiler/Codegen/LLVMCPU/test/tile_fuse_and_vectorize.mlir
Owners: @MaheshRavishankar, @hanhanW

Switch to prefixed accessors (NFC) (#8666)
  iree/compiler/Codegen/Common/ForOpCanonicalizationPass.cpp
  iree/compiler/Codegen/LLVMCPU/VectorContractCustomKernels.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorCoreVectorization.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorization.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorToCooperativeOps.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
Owners: @MaheshRavishankar, @hanhanW, @ThomasRaoux, @antiagainst

Add support for calling tile_to_in_parallel from IREE. (#8627)
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/test/linalg_transform.mlir
  iree/compiler/Codegen/LLVMCPU/test/linalg_transform_spec.mlir
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_iree_dialects.h
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/Transforms.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/LinalgTransformOps.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Transforms/Functional.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/TilingToTileOp.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/LinalgTransformOps.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/Transforms/TransformInterpreter.cpp
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/tiling-to-tile-op.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/tile.mlir
Owners: @hanhanW, @MaheshRavishankar, @benvanik, @GMNGeoffrey

Add tests for VMToEmitC bitcast ops (#8669)
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops_f32.mlir
Owners: @benvanik

Add pattern to split reduction dimension (#8667)
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/SplitReduction.cpp
  iree/test/e2e/matmul/BUILD
  iree/test/e2e/matmul/CMakeLists.txt
Owners: @MaheshRavishankar, @ghost

Fix web sample warnings and use IREE_DEFAULT_COPTS warnings/errors. (#8672)
  experimental/web/sample_dynamic/CMakeLists.txt
  experimental/web/sample_static/CMakeLists.txt
  experimental/web/sample_static/device_multithreaded.c
  experimental/web/sample_static/device_sync.c
  experimental/web/sample_static/main.c
Owners: @ScottTodd

AndroidLinkerTool: generate a -shared library and rationalize (#8665)
  iree/compiler/Dialect/HAL/Target/LLVM/internal/AndroidLinkerTool.cpp
Owners: @benvanik

Add a case using tensorcore in matmul test (#8671)
  iree/test/e2e/matmul/BUILD
  iree/test/e2e/matmul/CMakeLists.txt
Owners: @ghost

[CUDA] Enable batch matmul with permutation in tensorcore pipeline (#8668)
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorToGPU.cpp
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  iree/compiler/Codegen/LLVMGPU/test/vector_to_gpu.mlir
Owners: @MaheshRavishankar, @ThomasRaoux

Allow tracy to find symbols and debug info in dynamic-library modules in Android benchmarks (#8645)
  build_tools/benchmarks/run_benchmarks_on_android.py
  iree/base/internal/dynamic_library_posix.c
Owners: @GMNGeoffrey, @antiagainst, @benvanik

[vulkan] Add target triple for Apple M1 GPUs (#8628)
  iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  iree/compiler/Dialect/Vulkan/Utils/TargetTriple.cpp
  iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
Owners: @antiagainst

Explicitly find linker in either environment or own build/install dir (#8670)
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.h
  iree/compiler/Dialect/HAL/Target/LLVM/internal/EmbeddedLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WindowsLinkerTool.cpp
Owners: @benvanik

Use upstream tile, fuse, and distribution for codegen driver approaches. (#8614)
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/RewriteLinalgDestructiveUpdatesPass.cpp
  iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/rewrite_linalg_destructive_updates.mlir
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  iree/compiler/Codegen/Sandbox/Passes.h
  iree/compiler/Codegen/Sandbox/Passes.td
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/test/e2e/regression/lowering_config.mlir
  iree/test/e2e/xla_ops/reduce_window.mlir
Owners: @MaheshRavishankar, @hanhanW, @ghost

Copy over torch-mlir-dialects to third_party
  third_party/torch-mlir-dialects/CMakeLists.txt
  third_party/torch-mlir-dialects/README.md
  third_party/torch-mlir-dialects/include/CMakeLists.txt
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/CMakeLists.txt
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/CMakeLists.txt
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/CMakeLists.txt
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/CMakeLists.txt
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/ScalarLoopOpInterface.h
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/ScalarLoopOpInterface.td
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorBase.td
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorDialect.h
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorInterfaces.h
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorInterfaces.td
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorOpInterface.h
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorOps.h
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorOps.td
  third_party/torch-mlir-dialects/lib/CMakeLists.txt
  third_party/torch-mlir-dialects/lib/Dialect/CMakeLists.txt
  third_party/torch-mlir-dialects/lib/Dialect/TMTensor/CMakeLists.txt
  third_party/torch-mlir-dialects/lib/Dialect/TMTensor/IR/CMakeLists.txt
  third_party/torch-mlir-dialects/lib/Dialect/TMTensor/IR/ScalarLoopOpInterface.cpp
  third_party/torch-mlir-dialects/lib/Dialect/TMTensor/IR/TMTensorDialect.cpp
  third_party/torch-mlir-dialects/lib/Dialect/TMTensor/IR/TMTensorInterfaces.cpp
  third_party/torch-mlir-dialects/lib/Dialect/TMTensor/IR/TMTensorOps.cpp
Owners: @GMNGeoffrey, @ScottTodd, @stellaraccident

Hook up the tmtensor dialect in third_party/torch-mlir-dialects
  CMakeLists.txt
  build_tools/bazel/workspace.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/third_party/torch-mlir-dialects/BUILD.overlay
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_dialects.h
  iree/tools/init_torch_mlir_dialects.h
  llvm-external-projects/iree-compiler-api/CMakeLists.txt
  third_party/torch-mlir-dialects/README.md
Owners: @GMNGeoffrey, @ScottTodd, @stellaraccident, @benvanik

Add the TMTensorToLinalgExtPass
  iree/compiler/InputConversion/TMTensor/BUILD
  iree/compiler/InputConversion/TMTensor/CMakeLists.txt
  iree/compiler/InputConversion/TMTensor/ConvertTMTensorToLinalgExt.cpp
  iree/compiler/InputConversion/TMTensor/PassDetail.h
  iree/compiler/InputConversion/TMTensor/Passes.cpp
  iree/compiler/InputConversion/TMTensor/Passes.h
  iree/compiler/InputConversion/TMTensor/Passes.td
  iree/compiler/InputConversion/TMTensor/test/BUILD
  iree/compiler/InputConversion/TMTensor/test/CMakeLists.txt
  iree/compiler/InputConversion/TMTensor/test/convert_tmtensor_to_linalg_ext.mlir
  iree/compiler/Pipelines/BUILD
  iree/compiler/Pipelines/CMakeLists.txt
  iree/compiler/Pipelines/Options.cpp
  iree/compiler/Pipelines/Options.h
  iree/compiler/Pipelines/Pipelines.cpp
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_iree_passes.h
Owners: @MaheshRavishankar, @stellaraccident, @benvanik, @GMNGeoffrey

Style cleanup in compiler/InputConversion/Common/.
  iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  iree/compiler/InputConversion/Common/Passes.cpp
  iree/compiler/InputConversion/Common/Passes.h
  iree/compiler/InputConversion/Common/Passes.td
  iree/compiler/InputConversion/Common/test/BUILD
Owners: @MaheshRavishankar, @stellaraccident

Revert "Use upstream tile, fuse, and distribution for codegen driver approaches." (#8674)
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/RewriteLinalgDestructiveUpdatesPass.cpp
  iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/rewrite_linalg_destructive_updates.mlir
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  iree/compiler/Codegen/Sandbox/Passes.h
  iree/compiler/Codegen/Sandbox/Passes.td
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/test/e2e/regression/lowering_config.mlir
  iree/test/e2e/xla_ops/reduce_window.mlir
Owners: @MaheshRavishankar, @hanhanW, @ghost

Add SanitizeModuleNamesPass during input conversion.
  iree/compiler/InputConversion/Common/BUILD
  iree/compiler/InputConversion/Common/CMakeLists.txt
  iree/compiler/InputConversion/Common/Passes.cpp
  iree/compiler/InputConversion/Common/Passes.h
  iree/compiler/InputConversion/Common/Passes.td
  iree/compiler/InputConversion/Common/SanitizeModuleNames.cpp
  iree/compiler/InputConversion/Common/test/BUILD
  iree/compiler/InputConversion/Common/test/CMakeLists.txt
  iree/compiler/InputConversion/Common/test/sanitize_module_names.mlir
Owners: @MaheshRavishankar, @stellaraccident

[CUDA] Improve default kernel config (#8675)
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
Owners: @MaheshRavishankar, @ThomasRaoux

Use upstream tile, fuse, and distribution for codegen driver approaches. (#8677)
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/RewriteLinalgDestructiveUpdatesPass.cpp
  iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/rewrite_linalg_destructive_updates.mlir
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  iree/compiler/Codegen/Sandbox/Passes.h
  iree/compiler/Codegen/Sandbox/Passes.td
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/compiler/Dialect/Flow/Transforms/SplitReduction.cpp
  iree/test/e2e/regression/lowering_config.mlir
  iree/test/e2e/xla_ops/reduce_window.mlir
Owners: @MaheshRavishankar, @hanhanW, @ghost

[NFC][Cleanup] Correct enum class usage and comments for CPU backend. (#8682)
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
Owners: @hanhanW, @MaheshRavishankar

UnixLinker: trim toolnames (Apple) and generate shared lib (non-Apple) (#8673)
  iree/compiler/Dialect/HAL/Target/LLVM/internal/UnixLinkerTool.cpp
Owners: @benvanik

Unify dispatch region formation + Conversion to Flow passes (#8662)
  iree/compiler/Codegen/Common/DestructiveUpdateUtils.cpp
  iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/BUILD
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/CMakeLists.txt
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/ConvertTensorToFlow.cpp
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/ConvertTensorToFlow.h
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/BUILD
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/cast.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/extract.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/extract_slice.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/fill.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/from_elements.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/insert_slice.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/reshape.mlir
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.h
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/ConvertToFlow.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_fusion.mlir
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtInterfaces.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtInterfaces.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtOps.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/IR/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/IR/LinalgExtInterfaces.cpp
Owners: @MaheshRavishankar, @hanhanW

fix IREE_BYTECODE_MODULE_FORCE_SYSTEM_DYLIB_LINKER (wrong var) (#8687)
  build_tools/cmake/iree_bytecode_module.cmake
Owners: @GMNGeoffrey, @ScottTodd

more data races in ConvertToLLVM.cpp (#8688)
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
Owners: @hanhanW, @MaheshRavishankar

Rewrite InParallel to HAL (#8632)
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/linalg_transform.mlir
  iree/compiler/Codegen/LLVMCPU/test/linalg_transform_spec.mlir
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtOps.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/Transforms.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/LinalgTransformOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/InParallelToHAL.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/LinalgTransformOps.cpp
Owners: @hanhanW, @MaheshRavishankar

Connect LinalgExt::InParallelOp -> e2e execution via HAL (#8638)
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/SetNumWorkgroupsFromLinalgExtPass.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/linalg_ext_hal_to_hal.mlir
  iree/compiler/Codegen/LLVMCPU/test/linalg_transform.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Translation/test/BUILD
  iree/compiler/Translation/test/CMakeLists.txt
  iree/compiler/Translation/test/linalg_transform_spec.mlir
  iree/compiler/Translation/test/smoketest_linalg_transform.mlir
Owners: @MaheshRavishankar, @hanhanW, @benvanik

Adding some stress tests for the task executor. (#8695)
  iree/task/BUILD
  iree/task/CMakeLists.txt
  iree/task/executor_demo.cc
  iree/task/executor_test.cc
  iree/task/task.c
Owners: @benvanik

Add a pass to verify legality before codegen driver approaches. (#8679)
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/VerifyLinalgTransformLegality.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/verify_linalg_transform_legality.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
Owners: @hanhanW, @MaheshRavishankar

e2e matmul tests output formatting improvements (#8696)
  iree/tools/iree-e2e-matmul-test.c
Owners: @benvanik, @GMNGeoffrey

Add tests for VMToEmitC global ops (#8685)
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/BUILD
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/global_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/global_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/global_ops_i64.mlir
Owners: @benvanik

.github/CODEOWNERS:

# Codeowners for IREE Github Repository.
# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for syntax of this file (tl;dr: syntax is like .gitignore. Last matching rule
# takes precedence).
# Because of the precedence, rules for directories are listed topologically.
# @ghost is used to make a pattern have no owners. It is a sentinel GitHub user
# that takes the place of deleted users.

# No global owners because we don't really want e.g. changing the root
# CMakeLists.txt file to always ping a bunch of people.

# Code owners for individual components/directories

# Third-Party Code
/.gitmodules @GMNGeoffrey @ScottTodd @stellaraccident
/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
# Except for routinely-updated submodules
/third_party/llvm-project @ghost
/third_party/tensorflow @ghost
/third_party/mlir-hlo @ghost

# Bindings
/bindings/python/ @stellaraccident
/bindings/tflite/ @benvanik

# Integrations
/integrations/ @benvanik @stellaraccident
/integrations/tensorflow/ @stellaraccident
/integrations/tensorflow/build_tools/ @GMNGeoffrey @stellaraccident
/integrations/tensorflow/test/**/iree_tfl_tests/ @rsuderman

# Experimental
# It's experimental, but we still don't want any old directory added here.
/experimental/ @benvanik @GMNGeoffrey @stellaraccident
/experimental/remoting/ @stellaraccident
/experimental/rocm/ @ThomasRaoux
/experimental/web/ @ScottTodd

# Infra Top-Level Directories
/benchmarks/ @GMNGeoffrey @antiagainst
/build_tools/ @GMNGeoffrey @ScottTodd
/build_tools/benchmarks/ @GMNGeoffrey @antiagainst
/build_tools/python_deploy/ @stellaraccident
/build_tools/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
/.github/ @GMNGeoffrey @ScottTodd
/scripts/ @GMNGeoffrey @ScottTodd

# llvm-external-projects
/llvm-external-projects/ @stellaraccident
/llvm-external-projects/iree-dialects/ @MaheshRavishankar
/llvm-external-projects/iree-dialects/**/Dialect/LinalgExt/ @hanhanW @MaheshRavishankar
/llvm-external-projects/iree-dialects/test/iree_linalgext @hanhanW @MaheshRavishankar

# Other Top-Level Directories
/colab/ @ScottTodd
/docs/ @ScottTodd


# Main IREE directories
/iree/ @benvanik

# Compiler
/iree/compiler/Codegen/ @MaheshRavishankar
/iree/compiler/Codegen/LLVMCPU/ @hanhanW @MaheshRavishankar
/iree/compiler/Codegen/LLVMGPU/ @MaheshRavishankar @ThomasRaoux
/iree/compiler/Codegen/Sandbox/ @hanhanW @MaheshRavishankar
/iree/compiler/Codegen/SPIRV/ @antiagainst @MaheshRavishankar
/iree/compiler/ConstEval/ @stellaraccident
/iree/compiler/Dialect/Flow/ @MaheshRavishankar
/iree/compiler/Dialect/Vulkan/ @antiagainst
/iree/compiler/InputConversion/ @MaheshRavishankar @stellaraccident
/iree/compiler/InputConversion/MHLO @hanhanW @MaheshRavishankar @rsuderman
/iree/compiler/InputConversion/TOSA @MaheshRavishankar @rsuderman


# Runtime
/iree/hal/cuda/ @ThomasRaoux
/iree/hal/cts/ @ScottTodd
/iree/hal/vulkan/ @antiagainst @ScottTodd

# Other IREE directories
/iree/samples/ @ScottTodd
/iree/test/ @ghost
/iree/tools/ @benvanik @GMNGeoffrey
