Repository operskoj2c/iree, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMNGeoffrey, @ScottTodd, @stellaraccident, @ghost, @benvanik, @rsuderman, @ThomasRaoux, @antiagainst, @MaheshRavishankar, @hanhanW

Use official github.ref_name to refer to the current branch in builds (#8770)
  .github/workflows/oneshot_candidate_release.yml
  .github/workflows/schedule_candidate_release.yml
Owners: @GMNGeoffrey, @ScottTodd

Swap Stage 5 and Stage 6 in Codegen Driver (#8722)
  iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
Owners: @hanhanW, @MaheshRavishankar

Fix for InitializeEmptyTensors (#8772)
  iree/compiler/Dialect/Flow/Transforms/InitializeEmptyTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/initialize_empty_tensor.mlir
Owners: @MaheshRavishankar

Forward tensor.insert_slice coming from in_parallel lowering to flow.… (#8757)
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/BufferizeCopyOnlyDispatchesPass.cpp
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/SetNumWorkgroupsFromLinalgExtPass.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/linalg_transform.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/test/e2e/linalg_transform/linalg_transform.mlir
Owners: @GMNGeoffrey, @ScottTodd, @MaheshRavishankar, @hanhanW, @ghost

[flow] Verify the dynamic dims for all ShapeAwareOp's (#8773)
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/ConvertTensorToFlow.cpp
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/from_elements.mlir
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
Owners: @MaheshRavishankar

Allow multiple nested InParallelOp -> HAL rewrite. (#8771)
  iree/compiler/Codegen/LLVMCPU/test/linalg_transform.mlir
  iree/compiler/Codegen/LLVMCPU/test/linalg_transform_spec.mlir
  iree/test/e2e/linalg_transform/linalg_transform_spec.mlir
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/InParallelToHAL.cpp
Owners: @hanhanW, @MaheshRavishankar, @ghost

Removing IREE_HAL_BUFFER_USAGE_ALL and tightening up host visibility.
  bindings/python/iree/runtime/array_interop.py
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/invoke.cc
  bindings/python/iree/runtime/vm_test.py
  bindings/tflite/tensor.c
  experimental/web/sample_static/main.c
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/allocator_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  iree/hal/allocator.h
  iree/hal/buffer.c
  iree/hal/buffer.h
  iree/hal/cts/allocator_test.h
  iree/hal/cts/command_buffer_dispatch_test.h
  iree/hal/cts/command_buffer_test.h
  iree/modules/check/check_test.cc
  iree/runtime/demo/hello_world_explained.c
  iree/runtime/demo/hello_world_terse.c
  iree/samples/custom_modules/custom_modules_test.cc
  iree/samples/dynamic_shapes/main.c
  iree/samples/simple_embedding/simple_embedding.c
  iree/samples/static_library/static_library_demo.c
  iree/samples/variables_and_state/main.c
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/tools/iree-e2e-matmul-test.c
  iree/tools/utils/image_util.c
  iree/tools/utils/trace_replay.c
Owners: @stellaraccident, @benvanik, @ScottTodd, @GMNGeoffrey

Add BenchmarkSuite to load benchmarks. (#8753)
  build_tools/benchmarks/common/CMakeLists.txt
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/common/benchmark_suite_test.py
Owners: @GMNGeoffrey, @antiagainst

[spirv] Invoke TransposeOp canonicalization after vectorization (#8726)
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
Owners: @antiagainst, @MaheshRavishankar

Remove default assignee for issues (#8776)
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @GMNGeoffrey, @ScottTodd

[vulkan] Improve iree-run-module with GUI (#8781)
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
  iree/testing/vulkan/vulkan_gui_util.cc
Owners: @benvanik

Fixes configurations for matvec and dot. (#8775)
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileFuseAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/test/e2e/cpu_specific/BUILD
  iree/test/e2e/cpu_specific/CMakeLists.txt
  iree/test/e2e/cpu_specific/tests.mlir
  iree/test/e2e/xla_ops/dot.mlir
Owners: @hanhanW, @MaheshRavishankar, @ghost

Update bug_report.md (#8783)
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @GMNGeoffrey, @ScottTodd

Disabling CUDA e2e matmul tests pending #8784. (#8785)
  iree/test/e2e/matmul/BUILD
  iree/test/e2e/matmul/CMakeLists.txt
Owners: @ghost

Adding a comment and print to iree-benchmark-module. (#8788)
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/tools/iree-benchmark-module-main.cc
Owners: @benvanik, @GMNGeoffrey

Integrate llvm-project and bump dependencies. (#8786)
  integrations/tensorflow/WORKSPACE
  integrations/tensorflow/test/iree_tf_tests/layers/llvmaot__training_BatchNormalization.run
  integrations/tensorflow/test/iree_tf_tests/layers/vulkan__training_BatchNormalization.run
Owners: @stellaraccident

[NFC] Apply some cleanups to HAL::EntryPointOp (#8787)
  iree/compiler/Codegen/Common/SetNumWorkgroupsFromLinalgExtPass.cpp
  iree/compiler/Codegen/Transforms/Transforms.cpp
  iree/compiler/Dialect/HAL/Conversion/StreamToHAL/ConvertStreamToHAL.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
Owners: @MaheshRavishankar, @benvanik

Update releases to use bazel 5.1.0.
  .github/workflows/build_package.yml
Owners: @GMNGeoffrey, @ScottTodd

Allow using capstone-next for the tracy profiler. (#8760)
  build_tools/third_party/tracy/CMakeLists.txt
Owners: @GMNGeoffrey, @ScottTodd, @stellaraccident

Delete most get_started/ docs and clean up what's left. (#8801)
  docs/developers/developing_iree/testing_guide.md
  docs/developers/get_started/README.md
  docs/developers/get_started/building_with_bazel_linux.md
  docs/developers/get_started/building_with_bazel_macos.md
  docs/developers/get_started/building_with_bazel_windows.md
  docs/developers/get_started/building_with_emscripten.md
  docs/developers/get_started/getting_started_android_cmake.md
  docs/developers/get_started/getting_started_linux_cmake.md
  docs/developers/get_started/getting_started_linux_vulkan.md
  docs/developers/get_started/getting_started_macos_cmake.md
  docs/developers/get_started/getting_started_python.md
  docs/developers/get_started/getting_started_riscv_cmake.md
  docs/developers/get_started/getting_started_tensorflow.md
  docs/developers/get_started/getting_started_windows_cmake.md
  docs/developers/get_started/getting_started_windows_vulkan.md
  docs/developers/get_started/vulkan_environment_setup.md
Owners: @ScottTodd

Remove redundant linalg.fill op in mhlo.concatenate -> Linalg lowering. (#8795)
  iree/compiler/InputConversion/MHLO/MHLOToLinalgOnTensors.cpp
  iree/compiler/InputConversion/MHLO/test/BUILD
  iree/compiler/InputConversion/MHLO/test/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/test/mhlo_to_linalg.mlir
Owners: @hanhanW, @MaheshRavishankar, @rsuderman

Add Mobilebert Quant to Presubmits (#8796)
  integrations/tensorflow/test/iree_tfl_tests/llvmaot_mobilebert_tf2_quant.run
  integrations/tensorflow/test/iree_tfl_tests/vulkan_mobilebert_tf2_quant.run
  integrations/tensorflow/test/lit.cfg.py
  integrations/tensorflow/test/python/iree_tfl_tests/mobilebert_tf2_quant_test.py
  integrations/tensorflow/test/python/iree_tfl_tests/squad_test_data.py
Owners: @rsuderman, @stellaraccident

Expose tm_tensor input type to Python (#8803)
  iree/compiler/InputConversion/TMTensor/Passes.td
  iree/compiler/InputConversion/TMTensor/test/BUILD
  iree/compiler/InputConversion/TMTensor/test/CMakeLists.txt
  iree/compiler/InputConversion/TMTensor/test/convert_tm_tensor_to_linalg_ext.mlir
  iree/compiler/Pipelines/Options.cpp
  iree/compiler/Pipelines/Options.h
  iree/compiler/Pipelines/Pipelines.cpp
  llvm-external-projects/iree-compiler-api/python/iree/compiler/tools/core.py
Owners: @MaheshRavishankar, @stellaraccident, @benvanik

[spirv] Fix fp16 vectorization flow (#8799)
  iree/compiler/Codegen/Common/OptimizeVectorTransferPass.cpp
  iree/compiler/Codegen/SPIRV/MaliConfig.cpp
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_elementwise_ops.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
Owners: @MaheshRavishankar, @antiagainst

Bump tolerance to 1e-5 and enable passing tests. (#8792)
  integrations/tensorflow/python_projects/iree_tf/iree/tf/support/trace_utils.py
  integrations/tensorflow/test/iree_tf_tests/layers/llvmaot__LayerNormalization.run
  integrations/tensorflow/test/iree_tf_tests/layers/vulkan__LayerNormalization.run
Owners: @stellaraccident

Add Mobilenet V3 UINT8 to presubmits (#8812)
  integrations/tensorflow/test/iree_tfl_tests/llvmaot_mobilenet_v3-large_uint8.run
  integrations/tensorflow/test/iree_tfl_tests/vulkan_mobilenet_v3-large_uint8.run
  integrations/tensorflow/test/lit.cfg.py
  integrations/tensorflow/test/python/iree_tfl_tests/imagenet_test_data.py
  integrations/tensorflow/test/python/iree_tfl_tests/mobilenet_v3-large_uint8_test.py
Owners: @rsuderman, @stellaraccident

[spirv] Remove obsolete pass for distributing copy (#8813)
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVInitConfigPass.cpp
  iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
Owners: @MaheshRavishankar, @antiagainst

[spirv] Fix SPIRVTileAndDistribute flow (#8808)
  iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  iree/compiler/Codegen/SPIRV/test/tile_and_distribute.mlir
  iree/test/e2e/cpu_specific/BUILD
  iree/test/e2e/cpu_specific/CMakeLists.txt
  iree/test/e2e/cpu_specific/tests.mlir
  iree/test/e2e/xla_ops/dot.mlir
Owners: @antiagainst, @MaheshRavishankar, @ghost

Bump LLVM to 50de659adcc1 (#8819)
  integrations/tensorflow/WORKSPACE
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/PDL.cpp
Owners: @stellaraccident, @MaheshRavishankar

Improve compilation time and execution time for quantized matmul on ARM (#8815)
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
Owners: @hanhanW, @MaheshRavishankar

Adopt TransformDialectExtension and add iree_bufferize + iree_set_num_workgroups_to_one transform ops (#8821)
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/SetNumWorkgroupsFromLinalgExtPass.cpp
  iree/compiler/Codegen/Common/SetNumWorkgroupsPass.cpp
  iree/compiler/Codegen/Common/Transforms.h
  iree/compiler/Codegen/Interfaces/BUILD
  iree/compiler/Codegen/Interfaces/CMakeLists.txt
  iree/compiler/Codegen/Interfaces/Interfaces.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/linalg_ext_hal_to_hal.mlir
  iree/compiler/Codegen/LLVMCPU/test/linalg_transform.mlir
  iree/compiler/Codegen/LLVMCPU/test/linalg_transform_spec.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/TransformDialectExtensions/BUILD
  iree/compiler/Codegen/TransformDialectExtensions/CMakeLists.txt
  iree/compiler/Codegen/TransformDialectExtensions/TransformDialectExtensions.cpp
  iree/compiler/Codegen/TransformDialectExtensions/TransformDialectExtensions.h
  iree/test/e2e/linalg_transform/linalg_transform_spec.mlir
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/LinalgTransformOps.h
Owners: @GMNGeoffrey, @ScottTodd, @MaheshRavishankar, @hanhanW, @ghost

Add workgroup swizzling for better cache reuse (#8789)
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/WorkGroupSwizzle.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/swizzle_workgroup.mlir
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
Owners: @MaheshRavishankar, @ThomasRaoux

Add support for tile interchange. (#8664)
  iree/compiler/Codegen/Common/InsertDistributionInfoPass.cpp
  iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  iree/compiler/Codegen/Common/test/insert_distribution_info.mlir
  iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  iree/compiler/Codegen/Dialect/LoweringConfig.cpp
  iree/compiler/Codegen/Dialect/LoweringConfig.h
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/Dialect/test/lowering_config_attr.mlir
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  iree/test/e2e/regression/lowering_config.mlir
Owners: @MaheshRavishankar, @hanhanW, @ghost

redirect capture output (#8828)
  build_tools/benchmarks/run_benchmarks_on_android.py
Owners: @GMNGeoffrey, @antiagainst

hide output of adb push (#8806)
  build_tools/benchmarks/run_benchmarks_on_android.py
Owners: @GMNGeoffrey, @antiagainst

Add support for non-string padding values. (#8834)
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/LinalgTransformOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/LinalgTransformOps.cpp
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/double-tiling.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/pad.mlir
Owners: @MaheshRavishankar

Add peeling support to fusion. (#8835)
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/LinalgTransformOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/LinalgTransformOps.cpp
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/fuse-and-peel.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/invalid.mlir
Owners: @MaheshRavishankar

Specially handle width-sensitive arith cast ops. (#8809)
  iree/compiler/Dialect/Util/Transforms/BUILD
  iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Util/Transforms/ConvertPrimitiveType.cpp
  iree/compiler/Dialect/Util/Transforms/test/demote_f64_to_f32.mlir
  iree/compiler/Dialect/Util/Transforms/test/demote_i64_to_i32.mlir
Owners: @benvanik

Updating iree.natvis to the latest enums. Found that the debug engine can't handle the buffer view short string condition anymore ;(
  iree/iree.natvis
Owners: @benvanik

Adding IREE_HOST_SIZE_MAX and IREE_DEVICE_SIZE_MAX. These are equivalent to SIZE_MAX.
  iree/base/config.h
Owners: @benvanik

.github/CODEOWNERS:

# Codeowners for IREE Github Repository.
# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for syntax of this file (tl;dr: syntax is like .gitignore. Last matching rule
# takes precedence).
# Because of the precedence, rules for directories are listed topologically.
# @ghost is used to make a pattern have no owners. It is a sentinel GitHub user
# that takes the place of deleted users.

# No global owners because we don't really want e.g. changing the root
# CMakeLists.txt file to always ping a bunch of people.

# Code owners for individual components/directories

# Third-Party Code
/.gitmodules @GMNGeoffrey @ScottTodd @stellaraccident
/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
# Except for routinely-updated submodules
/third_party/llvm-project @ghost
/third_party/tensorflow @ghost
/third_party/mlir-hlo @ghost

# Bindings
/bindings/python/ @stellaraccident
/bindings/tflite/ @benvanik

# Integrations
/integrations/ @benvanik @stellaraccident
/integrations/tensorflow/ @stellaraccident
/integrations/tensorflow/build_tools/ @GMNGeoffrey @stellaraccident
/integrations/tensorflow/test/**/iree_tfl_tests/ @rsuderman

# Experimental
# It's experimental, but we still don't want any old directory added here.
/experimental/ @benvanik @GMNGeoffrey @stellaraccident
/experimental/remoting/ @stellaraccident
/experimental/rocm/ @ThomasRaoux
/experimental/web/ @ScottTodd

# Infra Top-Level Directories
/benchmarks/ @GMNGeoffrey @antiagainst
/build_tools/ @GMNGeoffrey @ScottTodd
/build_tools/benchmarks/ @GMNGeoffrey @antiagainst
/build_tools/python_deploy/ @stellaraccident
/build_tools/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
/.github/ @GMNGeoffrey @ScottTodd
/scripts/ @GMNGeoffrey @ScottTodd

# llvm-external-projects
/llvm-external-projects/ @stellaraccident
/llvm-external-projects/iree-dialects/ @MaheshRavishankar
/llvm-external-projects/iree-dialects/**/Dialect/LinalgExt/ @hanhanW @MaheshRavishankar
/llvm-external-projects/iree-dialects/test/iree_linalgext @hanhanW @MaheshRavishankar

# Other Top-Level Directories
/colab/ @ScottTodd
/docs/ @ScottTodd


# Main IREE directories
/iree/ @benvanik

# Compiler
/iree/compiler/Codegen/ @MaheshRavishankar
/iree/compiler/Codegen/LLVMCPU/ @hanhanW @MaheshRavishankar
/iree/compiler/Codegen/LLVMGPU/ @MaheshRavishankar @ThomasRaoux
/iree/compiler/Codegen/Sandbox/ @hanhanW @MaheshRavishankar
/iree/compiler/Codegen/SPIRV/ @antiagainst @MaheshRavishankar
/iree/compiler/ConstEval/ @stellaraccident
/iree/compiler/Dialect/Flow/ @MaheshRavishankar
/iree/compiler/Dialect/Vulkan/ @antiagainst
/iree/compiler/InputConversion/ @MaheshRavishankar @stellaraccident
/iree/compiler/InputConversion/MHLO @hanhanW @MaheshRavishankar @rsuderman
/iree/compiler/InputConversion/TOSA @MaheshRavishankar @rsuderman


# Runtime
/iree/hal/cuda/ @ThomasRaoux
/iree/hal/cts/ @ScottTodd
/iree/hal/vulkan/ @antiagainst @ScottTodd

# Other IREE directories
/iree/samples/ @ScottTodd
/iree/test/ @ghost
/iree/tools/ @benvanik @GMNGeoffrey
