Repository operskoj2c/iree, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MaheshRavishankar, @hanhanW, @ThomasRaoux, @antiagainst

.github/CODEOWNERS:

# Codeowners for IREE Github Repository.
# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for syntax of this file.

# Global code owners

# Code owners for individual components/directories
/iree/compiler/Codegen/ @MaheshRavishankar
/iree/compiler/Codegen/LLVMCPU/ @MaheshRavishankar @hanhanW
/iree/compiler/Codegen/LLVMGPU/ @MaheshRavishankar @ThomasRaoux
/iree/compiler/Codegen/Sandbox/ @MaheshRavishankar @hanhanW
/iree/compiler/Codegen/SPIRV/ @MaheshRavishankar @antiagainst

Add Bazel build configuration for EmitC (#8287)
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/BUILD
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/CMakeLists.txt
  iree/compiler/Dialect/VM/Target/BUILD
  iree/compiler/Dialect/VM/Target/C/BUILD
  iree/compiler/Dialect/VM/Target/C/CMakeLists.txt
  iree/compiler/Translation/BUILD
  iree/tools/BUILD
Owners: none

Implementation of the GPUMatmulSimtPassPipeline verifier
  iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/test/BUILD
  iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/test/illegal_configuration.mlir
  iree/compiler/Codegen/Passes.cpp
  iree/compiler/Codegen/Passes.h
Owners: @MaheshRavishankar, @ThomasRaoux

Enable multithreading and SIMD in static web demo. (#8291)
  build_tools/cmake/iree_copts.cmake
  experimental/sample_web_static/CMakeLists.txt
  experimental/sample_web_static/README.md
  experimental/sample_web_static/build_static_emscripten_demo.sh
  experimental/sample_web_static/device_multithreaded.c
  experimental/sample_web_static/index.html
  experimental/sample_web_static/iree_api.js
  experimental/sample_web_static/iree_worker.js
Owners: none

Fix wrong variable name in iree_wait_until_impl for Apple platform (#8296)
  iree/base/time.c
Owners: none

Add TFLite integration tests to run on presubmits (#8269)
  integrations/tensorflow/test/iree_tfl_tests/cartoon_gan.run
  integrations/tensorflow/test/iree_tfl_tests/east_text_detector.run
  integrations/tensorflow/test/iree_tfl_tests/gpt2.run
  integrations/tensorflow/test/iree_tfl_tests/mnasnet.run
  integrations/tensorflow/test/iree_tfl_tests/mobilenet_v3.run
  integrations/tensorflow/test/iree_tfl_tests/person_detect.run
  integrations/tensorflow/test/python/iree_tfl_tests/cartoon_gan_test.py
  integrations/tensorflow/test/python/iree_tfl_tests/east_text_detector_test.py
  integrations/tensorflow/test/python/iree_tfl_tests/gpt2_test.py
  integrations/tensorflow/test/python/iree_tfl_tests/mnasnet_test.py
  integrations/tensorflow/test/python/iree_tfl_tests/mobilenet_v3_test.py
  integrations/tensorflow/test/python/iree_tfl_tests/person_detect_test.py
Owners: none

Fix variable name in wait_handle_inproc.c. (#8289)
  iree/base/internal/wait_handle_inproc.c
Owners: none

Add 'keep going' option to CMake CI builds (#8302)
  build_tools/cmake/build_android.sh
  build_tools/cmake/build_android_benchmark.sh
  build_tools/cmake/build_host_install.sh
  build_tools/cmake/build_riscv.sh
  build_tools/cmake/build_runtime.sh
  build_tools/cmake/build_runtime_emscripten.sh
  build_tools/cmake/build_runtime_small.sh
  build_tools/cmake/build_tracing.sh
  build_tools/cmake/rebuild.sh
  build_tools/cmake/test.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  build_tools/third_party/swiftshader/build_vk_swiftshader.sh
  experimental/sample_web_static/build_static_emscripten_demo.sh
  iree/samples/dynamic_shapes/test.sh
  iree/samples/variables_and_state/test.sh
Owners: none

Integrate llvm-project at 4ae83bb2b1e27628f6bd14d746aef964ed776d52 (#8298)
  integrations/tensorflow/WORKSPACE
  iree/compiler/Codegen/Common/VectorizeMMT4d.cpp
  iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  iree/compiler/Codegen/Transforms/AffineMinDistributedSCFCanonicalization.cpp
  iree/compiler/Dialect/Flow/IR/FlowBase.td
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/Stream/Transforms/SpecializeDispatches.cpp
  iree/compiler/Dialect/Util/IR/UtilOps.cpp
  iree/compiler/Dialect/Util/IR/UtilOps.td
  iree/compiler/Dialect/VM/Conversion/MemRefToVM/ConvertMemRefToVM.cpp
  iree/compiler/Dialect/VM/IR/VMBase.td
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/InputConversion/MHLO/ConvertMHLOToLinalgExt.cpp
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/PyDM/IR/PyDMDialect.td
Owners: @MaheshRavishankar

Revert malformed change to emscripten demo script (#8305)
  experimental/sample_web_static/build_static_emscripten_demo.sh
Owners: none

Bump llvm 20220211 (#8310)
  iree/compiler/Dialect/VM/IR/VMDialect.cpp
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/PyDM/IR/PyDMOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/PyDM/IR/PyDMOps.cpp
Owners: none

Making iree_wait_set_free allow NULL ptrs. (#8314)
  iree/base/internal/wait_handle_inproc.c
  iree/base/internal/wait_handle_poll.c
  iree/base/internal/wait_handle_win32.c
Owners: none

Only use iree_hal_device_transfer_mappable_range if host visible. (#8313)
  iree/hal/utils/buffer_transfer.c
Owners: none

Update to hasVerifier form (NFC) (#8297)
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.td
Owners: none

More asm kernels for vector.contract on ARM (#8292)
  build_tools/cmake/iree_check_test.cmake
  iree/compiler/Codegen/LLVMCPU/VectorContractCustomKernels.cpp
  iree/compiler/Codegen/LLVMCPU/test/vector_contract_to_arm_asm.mlir
  iree/compiler/Dialect/Flow/Transforms/ConvertLinalgMatmulToMmt4D.cpp
  iree/compiler/Dialect/Flow/Transforms/test/matmul_to_mmt4d.mlir
  iree/compiler/Utils/CustomKernelsTargetInfo.cpp
  iree/compiler/Utils/CustomKernelsTargetInfo.h
Owners: @MaheshRavishankar, @hanhanW

[CUDA] Refactor distribution to thread/warp (#8306)
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
Owners: @MaheshRavishankar, @ThomasRaoux

Adding BatchMatmulOp to use tensorcore when possible (#8282)
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Owners: @MaheshRavishankar, @ThomasRaoux

Rewrite Python function argument packing in C++. (#8311)
  bindings/python/iree/runtime/CMakeLists.txt
  bindings/python/iree/runtime/binding.h
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/function_test.py
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/initialize_module.cc
  bindings/python/iree/runtime/invoke.cc
  bindings/python/iree/runtime/invoke.h
  bindings/python/iree/runtime/vm.cc
  bindings/python/iree/runtime/vm.h
Owners: none

Update python-bindings-and-importers.md (#8320)
  docs/website/docs/building-from-source/python-bindings-and-importers.md
Owners: none

Add dynamic linking web sample using Emscripten. (#8319)
  CMakeLists.txt
  experimental/web/CMakeLists.txt
  experimental/web/sample_dynamic/CMakeLists.txt
  experimental/web/sample_dynamic/README.md
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_dynamic/device_sync.c
  experimental/web/sample_dynamic/index.html
  experimental/web/sample_dynamic/iree_api.js
  experimental/web/sample_dynamic/iree_worker.js
  experimental/web/sample_dynamic/main.c
  experimental/web/sample_static/CMakeLists.txt
  experimental/web/sample_static/README.md
  experimental/web/sample_static/build_sample.sh
  experimental/web/sample_static/device_multithreaded.c
  experimental/web/sample_static/device_sync.c
  experimental/web/sample_static/index.html
  experimental/web/sample_static/iree_api.js
  experimental/web/sample_static/iree_worker.js
  experimental/web/sample_static/main.c
  iree/base/internal/dynamic_library_posix.c
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/hal/local/loaders/system_library_loader.c
Owners: none

Fixed python MapElementTypeToDType for boolean type. (#8222)
  bindings/python/iree/runtime/hal.cc
Owners: none

Add RISCV lit tests in RISCV64 Linux CI (#8304)
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/test.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/tests/abs_test.run
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/tests/lit.cfg.py
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/tests/person_detect_rvv_test.run
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/tests/person_detect_test.run
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/tests/simple_embedded_tests.run
Owners: none

Convert 1-D static subspan to 1-D dynamic sized subspan (#8295)
  iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
Owners: @MaheshRavishankar

Remove unused variable (#8325)
  bindings/python/iree/runtime/invoke.cc
Owners: none

Apply tiling on parallel dims and reduction dims separately. (#8300)
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/test/e2e/regression/lowering_config.mlir
Owners: @MaheshRavishankar, @hanhanW

Fix IREE_CUDA_LIBDEVICE_PATH to work even when SDK is found. (#8328)
  CMakeLists.txt
Owners: none

Move generic op codegen to use DoubleTilingExpert (Fuse + Tile). (#8301)
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
Owners: @MaheshRavishankar, @hanhanW

[vulkan] Require VK_KHR_portability_subset for Apple platforms (#8323)
  iree/hal/vulkan/vulkan_device.cc
  iree/hal/vulkan/vulkan_headers.h
Owners: none

Fix abort when exception raised without GIL. (#8333)
  bindings/python/iree/runtime/hal.cc
Owners: none

Implements iree_hal_cuda_*_command_buffer_update_buffer. (#8334)
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/dynamic_symbol_tables.h
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/cuda/stream_command_buffer.c
  iree/hal/cuda/stream_command_buffer.h
Owners: none

Add Bazel build configuration for VMToEmitC tests (#8335)
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/BUILD
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/CMakeLists.txt
Owners: none

Bump llvm 20220215 (#8338)
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/tests/person_detect_rvv_test.run
  integrations/tensorflow/WORKSPACE
Owners: none
